.redux-demo-importer {
    float:left;
    width:100%;
}
.redux-demo-importer .wrapper {
    float: left;
    margin-bottom: 3%;
    margin-right: 3%;
    padding: 0;
    width: 31.3%;
}
.redux-demo-importer .wrapper:nth-child(3n) {margin-right: 0;}
.redux-demo-importer .image {
    float: left;
    position: relative;
    width: 100%;
}
.redux-demo-importer .image:before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
    width: 100%;
}
.redux-demo-importer .image:hover:before {
    opacity: 0.5;
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
}
.redux-demo-importer .overly-btn {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.25s ease 0.25s;
    -moz-transition: all 0.25s ease 0.25s;
    -ms-transition: all 0.25s ease 0.25s;
    -o-transition: all 0.25s ease 0.25s;
    transition: all 0.25s ease 0.25s;
}
.redux-demo-importer .overly-btn > a {
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    font-size: 17px;
    line-height: initial;
    padding: 5px 20px 10px;
    text-decoration: none;
    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}
.redux-demo-importer .image:hover > .overly-btn {
    opacity: 1;
    top: 50%;
}
.redux-demo-importer .image > img {float: left;}
.redux-demo-importer .bar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    padding: 15px 123px 15px 20px;
    position: relative;
    width: 100%;
}
.redux-demo-importer .bar .demo-name {
    float: left;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.redux-demo-importer .bar .install-btn {
    background: #0085ba none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 14px;
    height: 100%;
    line-height: 45px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    top: 0;
}
.redux-demo-importer .overly-btn > a:hover {background: #0085ba none repeat scroll 0 0;}


.preview {
    background: #f7f7f7 none repeat scroll 0 0;
    opacity: 0;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -1px;
    text-align: center;
    width: 30px;

    -webkit-transition: all 0.25s linear 0s;
    -moz-transition: all 0.25s linear 0s;
    -ms-transition: all 0.25s linear 0s;
    -o-transition: all 0.25s linear 0s;
    transition: all 0.25s linear 0s;
}
.preview > a > img {
    width: 17px !important;
}
.preview > a {
    line-height: 35px;
}

.redux-demo-importer .image:hover > .preview{
    opacity: 1;
}
/* ================ preloader ================ */
.preloader-wrapper:before {
    background: black none repeat scroll 0 0;
    content: "";
    height: 100%;
    opacity: 0.51;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.preloader {
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}
.preloader i {
    display: block;
    width: 16px;
    height: 16px;
    background: black;
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
    opacity: 1;
    -webkit-transform: translate3d(60px, 0, 0);
    overflow: hidden;
    text-indent: -9999px;
    border: 2px solid white;
}
.preloader i:nth-child(1) {
    background: #d14836;
    -webkit-animation: google 1.75s ease-in-out infinite;
    -moz-animation: google 1.75s ease-in-out infinite;
    -ms-animation: google 1.75s ease-in-out infinite;
    -o-animation: google 1.75s ease-in-out infinite;
    animation: google 1.75s ease-in-out infinite;
}
.preloader i:nth-child(2) {
    background: #e9b330;
    -webkit-animation: google 1.75s ease-in-out infinite 0.3s;
    -moz-animation: google 1.75s ease-in-out infinite 0.3s;
    -ms-animation: google 1.75s ease-in-out infinite 0.3s;
    -o-animation: google 1.75s ease-in-out infinite 0.3s;
    animation: google 1.75s ease-in-out infinite 0.3s;
}
.preloader i:nth-child(3) {
    background: #4285f4;
    -webkit-animation: google 1.75s ease-in-out infinite 0.6s;
    -moz-animation: google 1.75s ease-in-out infinite 0.6s;
    -ms-animation: google 1.75s ease-in-out infinite 0.6s;
    -o-animation: google 1.75s ease-in-out infinite 0.6s;
    animation: google 1.75s ease-in-out infinite 0.6s;
}

@-webkit-keyframes google {
    0% {
	opacity: 0;
	-webkit-transform: translate3d(60px, 0, 0);
	-moz-transform: translate3d(60px, 0, 0);
	-ms-transform: translate3d(60px, 0, 0);
	-o-transform: translate3d(60px, 0, 0);
	transform: translate3d(60px, 0, 0);
    }
    30% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    70% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    100% {
	opacity: 0;
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	-o-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
    }
}
@-o-keyframes google {
    0% {
	opacity: 0;
	-webkit-transform: translate3d(60px, 0, 0);
	-moz-transform: translate3d(60px, 0, 0);
	-ms-transform: translate3d(60px, 0, 0);
	-o-transform: translate3d(60px, 0, 0);
	transform: translate3d(60px, 0, 0);
    }
    30% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    70% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    100% {
	opacity: 0;
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	-o-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
    }
}
@keyframes google {
    0% {
	opacity: 0;
	-webkit-transform: translate3d(60px, 0, 0);
	-moz-transform: translate3d(60px, 0, 0);
	-ms-transform: translate3d(60px, 0, 0);
	-o-transform: translate3d(60px, 0, 0);
	transform: translate3d(60px, 0, 0);
    }
    30% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    70% {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    }
    100% {
	opacity: 0;
	-webkit-transform: translate3d(-300px, 0, 0);
	-moz-transform: translate3d(-300px, 0, 0);
	-ms-transform: translate3d(-300px, 0, 0);
	-o-transform: translate3d(-300px, 0, 0);
	transform: translate3d(-300px, 0, 0);
    }
}

.importer-box {
    background: #f7f7f7 none repeat scroll 0 0;
    height: 400px;
    left: 50%;
    margin-left: -350px;
    margin-top: -200px;
    position: fixed;
    top: 50%;
    width: 700px;
    z-index: 9999999;
}
.importer-box > h2 {
    background: #d0d0d0 none repeat scroll 0 0;
    box-sizing: border-box;
    float: left;
    margin-top: 0;
    padding: 15px 20px;
    width: 100%;
}
.importer-box .close {
    background: #000000 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: cursive;
    font-size: 26px;
    height: 48px;
    line-height: 38px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 48px;
}
.box-content {
    box-sizing: border-box;
    float: left;
    height: 334px;
    overflow-y: scroll;
    padding: 0 20px;
    width: 100%;
}
