@charset "UTF-8";

@font-face {
    font-family: "lifeline";
    src:url("fonts/lifeline.eot");
    src:url("fonts/lifeline.eot?#iefix") format("embedded-opentype"),
        url("fonts/lifeline.woff") format("woff"),
        url("fonts/lifeline.ttf") format("truetype"),
        url("fonts/lifeline.svg#lifeline") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "lifeline" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="dashicons-lifeline-"]:before,
[class*=" dashicons-lifeline-"]:before {
    font-family: "lifeline" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.dashicons-lifeline-sponsors:before {
    content: "\61";
}
.dashicons-lifeline-gallery:before {
    content: "\62";
}
.dashicons-lifeline-faq:before {
    content: "\63";
}
.dashicons-lifeline-testimonial:before {
    content: "\64";
}
.dashicons-lifeline-story:before {
    content: "\65";
}
.dashicons-lifeline-event:before {
    content: "\66";
}
.dashicons-lifeline-team:before {
    content: "\67";
}
.dashicons-lifeline-cause:before {
    content: "\68";
}
.dashicons-lifeline-form:before {
    content: "\69";
}
.dashicons-lifeline-service:before {
    content: "\6a";
}

.demo-option-form > label {
    float: left;
    font-size: 14px;
    margin: 5px 0;
    width: 100%;
}
.demo-option-form {
    margin-top: 10px;
}
.demo-importer {
    background: #232323 none repeat scroll 0 0;
    border: 0 none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
    margin-top: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}


