@media (max-width:1200px) {
    nav > ul > li > a {
        padding: 40px 15px;
    }
    .donation-popup .container {
        width: 100%;
    }
    .fancy-overlay {
        float: left;
        padding: 20px 0;
        position: relative;
        width: 100%;
    }
    .block.overlap .container {
        border: 0 none;
        margin-top: 0;
        padding-top: 30px;
        width: 100%;
    }
    .ask-question {
        padding: 90px 15px;
    }
    .white-bg {
        padding: 40px 0 0;
    }
	.gallery-filters > .row > .masonary > div {width: 33%;}
	.gallery-page.masonary > div{width: 33%;}
}
@media (min-width:768px) and (max-width:980px) {
     .theme-layout.boxed{
        width: 90%;
    }
    .block .container,
    .container {
        padding: 0 15px;
    }
    .column {
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }
    .column:last-child {
        margin-bottom: 0;
    }
    #responsive-header {
        display: block;
    }
    header,
    .sideheader {
        display: none;
    }
    .event-inner {
        float: left;
        padding: 20px;
        text-align: center;
    }
    .event-intro {
        display: unset;
        float: left;
        margin-top: 20px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .start-time {
        display: unset;
        float: left;
        margin-top: 20px;
        width: 100%;
    }
    .join-us {
        float: left;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .urgent-progress .row > div {
        width: 33.334%;
    }
    .urgentcause-gallery > div {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .gallery-widget .row > div {
        float: left;
        width: 16.666%;
    }
    .popup-centralize {
        padding: 60px 20px;
    }
    .video.overlap {
        margin: 0;
    }
    .service-carousel {
        padding: 0 20px;
    }
    .about-service {
        margin-left: 0;
        width: 100%;
    }
    .services-list {
        padding: 50px 0;
        width: 100%;
    }
    .urgent-parallax > h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .urgent-parallax > strong {
        font-size: 15px;
        line-height: 20px;
    }
    .urgent-parallax > p {
        margin: 25px 0 0;
        width: 100%;
    }
    .urgent-parallax > p strong {
        font-size: inherit;
    }
    .fancy-overlay {
        float: left;
        padding: 20px 0;
        position: relative;
        width: 100%;
    }
    .banner-text {
        display: block;
        float: left;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    .banner-info {
        display: block;
        float: left;
        margin-bottom: 20px;
        width: 100%;
    }
    .banner-button {
        display: block;
        float: left;
        text-align: center;
        width: 100%;
    }
    .deal-desc {
        float: left;
        margin-top: 30px;
        width: 100%;
    }
    .deal-detail .row > div {
        margin: 0;
        width: 100%;
    }
    .deal-selector {
        margin: 0 35%;
        width: 30%;
    }
    .title > p {
        margin: 15px 0 0;
        width: 100%;
    }
    .deal-selector {
        width: 100%;
        margin: 0;
    }
    .list-style .post-listview > div {
        float: left;
        width: 100%;
    }
    .post-detail {
        padding: 30px 20px;
    }
    .form > div {
        float: left;
        width: 100%;
    }
    .services-list > ul li {
        width: 50% !important;
    }
    .ask-question {
        padding: 90px 15px;
    }
    .white-bg {
        padding: 40px 0 0;
    }
    .service-features-wrapper {
        margin-bottom: 30px;
    }
    .skills h5 {
        margin-top: 25px;
    }
    .featuredtext-capinner > i {
        font-size: 30px;
    }
    .featuredtext-capinner > strong {
        font-size: 50px;
    }
    .featuredtext-capinner > span {
        font-size: 20px;
    }
    .featured-video-cap > strong {
        font-size: 45px;
    }
    .featured-video-cap {
        padding: 0 10%;
    }
    .featured-video-cap > a {
        font-size: 70px;
    }
    .col-md-4 .fancy-cause {min-height: initial;}
	.block, .block.parallax-sec{
		padding: 50px 0;	
	}
	
.successful-stories > .row > div {
    float: left;
    width: 50%;
}
.successful-stories > .row > div.masonary {
    float: left;
    width: 100%;
}
.successful-stories > .row > div.masonary > div {
    float: left;
    width: 50%;
}
.urgentcause-gallery.masonary.lightbox > div {
    width: 50%;
    padding: 5px;
}

.counters > .row > div {
    width: 33%;
}
.needed > .row > div {
    float: left;
    width: 50%;
}
.blog-list {
}
.blog-list > .row .masonary > div {
    float: left;
    width: 50%;
}

.footer-widgets > .row > div {
    display:inline-block;
    margin-bottom: 30px;
    width: 50%;
}

.who-we-detail > .row > div {
    float: left;
    width: 50%;
}
.help-needed > .row > .masonary > div {
    float: left;
    width: 50%;
}

.bottom-bar p {
    padding-left: 15px;
    text-align: left;
}
.all-projects > .row > div {
    float: left;
    width: 50%;
}
.fancy-projects > .row > div {
    float: left;
    width: 50%;
}
.service-ways > .row > div {
    float: left;
    width: 50%;
}
.cause-title h5 {
    font-size: 20px;
    line-height: 20px;
}
.collected-amount {
    font-size: 20px;
}
.collected-donation > strong{font-size: 30px;}
.footer-social-btns{text-align: left;}
.title.style4 h2 {
    font-size: 18px;
}
.collected-donation > strong {
    font-size: 28px;
}
.collected-donation > span {
    font-size: 10px;
}

.fancy-counters > .row > div {
    margin-bottom: 0;
    width: 50%;
}
.title.style4 h2{
	line-height: 30px;
	font-size: 21px;	
}
.simple-parallax-text h6{font-size: 30px;}
.simple-parallax-text > p{margin-bottom: 30px; font-size: 14px;}
.gallery-filters > .row .masonary > div{width: 50%;}
.gallery-page.masonary > div{width: 50%;}
.gallery-page > div.modern-gallery {
    padding: 0 5px;
    width: 50%;
}
.sidebar > div.widget {
    width: 53%;
}
.sidebar {
    display: inline-block;
    margin-top: 40px;
}
#pagination {
    margin-top: 20px;
}
.page-top{padding:40px 0;}

.countries-contact > .row > div {
    float: left;
    width: 50%;
}
.countries-contact .contact-info > .row > div span {
    display: inline-block;
    margin-bottom: 30px;
}
.contact-box {
    padding: 50px 0;
}
.members > .row > .masonary > div {
    width: 50%;
}
.member-img img {
    width: 100%;
}

.products-list > .row > div {
    float: left;
    width: 50%;
}

.product-detail .row > div {
    float: left;
    width: 50%;
}
.product-detail {
    padding: 15px;
}
.product-detail .row > div {
    float: left;
    width: 50%;
}
.product-detail {
    padding: 15px;
}
#tab-description > h2 {
    font-size: 18px;
}
h2.product-name {
    font-size: 16px;
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 5px;
}

.product-desc p {
    display: inline-block;
    font-size: 12px;
    line-height: 23px;
    padding-top: 5px;
}
.single.single-product .sidebar{margin-top:0;}

.cart-item > ul li.col1 {
    padding: 15px 0;
}
.cart-bottom {
    padding: 20px 15px;
}
.coupon {
    float: left;
    margin-left: 0;
}
.added_to_cart, .post-password-form input[type="submit"], .slide-button, .theme-btn, a.theme-btn {
    padding: 10px;
    text-transform: capitalize;
}
.cart-bottom > input.theme-btn[type="submit"], .cart-bottom > a.theme-btn {
    margin-left: 10px;
    margin-top: 4px;
}
.testimonials-list.product-testimonials1 > div {
    float: left;
    width: 50%;
}
.contact-form > .row > div {
    display: inline-block;
    width: 100%;
}

.become-volunteer.ask-question > .row > div {
    float: left;
    width: 50%;
}
.charity-events > .row > div {
    width: 50%;
    float: left;
}
.page-gallery.lightbox > div {
    float: left;

}
.post-img img {
    float: left;
    width: 100%;
}
.all-posts.list-style > div {
    float: left;
    width: 50%;
}
.blog-list.list-style > .row .post-listview{width: 50%;}

.cause-detail {
    margin-top: 30px;
    padding: 20px 0;
}
.page-content h1 {
    font-size: 20px;
}
.cause-donation{
	padding:0 0 20px 20px;	
}
.cause-title{
	padding: 20px 20px 0;	
}
.urgent:hover > img {
    transform: translateX(10px) scale(1.07);
}

.service-style3 > .row > div {
    float: left;
    width: 50%;
}
.services-listing.style2 > .row > div {
    float: left;
    width: 50%;
}
.dropcaps-style > p strong{margin-right: 20px;}
.dropcaps-style.dropcap-style5 p strong{margin-right: 0;}

}
@media (max-width:767px) {
	
     .theme-layout.boxed{
        width: 90%;
    }
    .block .container,
    .container {
        padding: 0 15px;
    }
    .column {
        float: left;
        width: 100%;
        margin-bottom: 30px;
    }
    .column:last-child {
        margin-bottom: 0;
    }
	.block, .block.parallax-sec{
		padding: 50px 0;	
	}
    #responsive-header {
        display: block;
    }
    header,
    .sideheader {
        display: none;
    }
    .inline-list > li a {
        float: left;
        width: 100%;
        line-height: 25px;
    }
    #responsive-menu {
        padding-top: 40px;
    }
    .event-inner {
        float: left;
        padding: 20px;
        text-align: center;
    }
    .event-intro {
        display: unset;
        float: left;
        margin-top: 20px;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    .start-time {
        display: unset;
        float: left;
        margin-top: 20px;
        width: 100%;
    }
    .join-us {
        float: left;
        margin-top: 20px;
        text-align: center;
        width: 100%;
    }
    .upcoming-eventbar.overlap {
        margin: 0;
    }
    .event-inner h3 {
        font-size: 15px;
        line-height: 20px;
    }
    .urgentcause-detail h3 {
        font-size: 18px;
    }
    .urgent-progress .row > div {
        width: 33.334%;
    }
    .urgentcause-gallery > div {
        float: left;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .title h2 {
        font-size: 25px;
    }
    .title > span {
        font-size: 12px;
        margin-bottom: 5px;
    }
    .popup-form {
        width: 80%;
        padding: 70px 20px;
    }
    .popup-form > strong {
        font-size: 18px;
    }
    .popup-form > p {
        line-height: 20px;
    }
    .gallery-widget .row > div {
        float: left;
        width: 16.666%;
    }
    .event-date {
        top: 30px;
        left: 50%;
        -webkit-transform: translateY(0) translateX(-50%);
        -moz-transform: translateY(0) translateX(-50%);
        -ms-transform: translateY(0) translateX(-50%);
        -o-transform: translateY(0) translateX(-50%);
        transform: translateY(0) translateX(-50%);
    }
    .event-toggle::after {
        display: none;
    }
    .event-toggle {
        padding: 120px 40px 30px;
    }
    .upcoming-eventbar {
        padding: 125px 10px 10px 10px;
    }
    .event-intro h3 {
        width: 100%;
    }
    .event-bar > div {
        float: left;
        width: 100%;
    }
    .event-bar h3 {
        padding: 0;
    }
    .event-toggle {
        padding: 110px 30px 30px;
    }
    .event-bar > div {
        float: left;
        width: 100%;
    }
    .event-bar h3 {
        padding: 0;
    }
    .event-toggle {
        padding: 110px 30px 30px;
    }
    .volunteer-inner > span {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .volunteer-inner > strong {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .volunteer-inner > p {
        margin-bottom: 10px;
    }
    .join h3 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
    }
    .blog-detail > h3 {
        padding: 0 20px;
    }
    .video.overlap {
        margin: 0;
    }
    .service-carousel {
        padding: 0 20px;
    }
    .gallery-widget .row > div {
        width: 25%;
    }
    .about-service {
        margin-left: 0;
        width: 100%;
    }
    .services-list {
        padding: 50px 0;
        width: 100%;
    }
    .services-list > ul li {
        width: 50%;
    }
    .video {
        min-height: 0;
    }
    .help-detail {
        padding: 45px 35px 45px 25px;
    }
    .urgent-parallax > h2 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .urgent-parallax > strong {
        font-size: 15px;
        line-height: 20px;
    }
    .urgent-parallax > p {
        margin: 25px 0 0;
        width: 100%;
    }
    .urgent-parallax > p strong {
        font-size: inherit;
    }
    .urgent-progress .goal,
    .urgent-progress .goal.raised {
        text-align: center;
        width: 100%;
    }
    .percent {
        width: 100%;
    }
    .urgent-detail {
        float: left;
        height: auto;
        padding: 30px;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .cause-title {
        float: left;
        margin-bottom: 20px;
        padding: 0;
        position: relative;
        width: 100%;
    }
    .cause-donation {
        float: left;
        padding: 0;
        position: relative;
        width: 50%;
    }
    .urgent-detail > a {
        bottom: 0;
        position: relative;
        right: 0;
        width: 50%;
    }
    .fancy-overlay {
        float: left;
        padding: 20px 0;
        position: relative;
        width: 100%;
    }
    .banner-text {
        display: block;
        float: left;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
    }
    .banner-info {
        display: block;
        float: left;
        margin-bottom: 20px;
        width: 100%;
    }
    .banner-button {
        display: block;
        float: left;
        text-align: center;
        width: 100%;
    }
    .counting {
        width: 100%;
    }
    .deal-desc {
        float: left;
        margin-top: 30px;
        width: 100%;
    }
    .deal-detail .row > div {
        margin: 0;
        width: 100%;
    }
    .deal-selector {
        margin: 0 35%;
        width: 30%;
    }
    .title > p {
        margin: 15px 0 0;
        width: 100%;
    }
    .deal-selector {
        width: 100%;
        margin: 0;
    }
    .list-style .post-listview > div {
        float: left;
        width: 100%;
    }
    .post-detail {
        padding: 30px 20px;
    }
    .urgent-cause-overlay {
        position: relative;
        float: left;
        width: 100%;
        background: #303030;
        padding: 30px 0;
    }
    .sponsors-carousel .owl-nav > div.owl-prev {
        margin-left: 0;
    }
    .sponsors-carousel .owl-nav > div.owl-next {
        margin-right: 0;
    }
    .newsletter-signup form {
        width: 100%;
    }
    .newsletter-signup form input {
        margin: 10px 0;
        width: 100%;
    }
    .newsletter-signup form button {
        width: 100%;
    }
    .footer-bar-title {
        float: left;
        max-width: none;
        padding: 0;
        width: 100%;
    }
    .blog-detail-page h1.post-title {
        font-size: 15px;
    }
    .blog-detail-page blockquote {
        font-size: 14px;
        padding: 40px 20px;
    }
    .comment {
        padding: 30px 30px 0 0;
    }
    .comment img {
        margin-bottom: 10px;
        margin-right: 10px;
        width: 100px;
    }
    .comment h6,
    .comment > i,
    .comment > p {
        float: left;
        width: 100%;
    }
    .comments-thread ul ul {
        padding: 0;
    }
    .join-team {
        padding: 40px;
    }
    .team-desc {
        padding: 30px;
    }
    .team-detail .member-social {
        bottom: 0;
        float: left;
        left: 0;
        position: relative;
        width: 100%;
    }
    .skills h5,
    .skills p {
        float: left;
        width: 100%;
    }
    .skills > span {
        margin-bottom: 10px;
    }
    .banner-inner > h5 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .banner-subtitle {
        font-size: 16px;
    }
    .banner-inner > strong {
        font-size: 70px;
        line-height: 40px;
        margin: 0 0 20px;
    }
    .big-banner .theme-btn {
        margin-top: 10px;
    }
    .circular > div,
    .circular > div canvas {
        width: 170px !important;
        float: none;
        margin: 0px auto;
        height: auto !important;
        display: table !important;
    }
    .footer-social-btns {
        text-align: left;
        float: left;
    }
    .footer-bar-title {
        margin-bottom: 10px;
    }
    .bottom-bar p {
        text-align: center;
    }
    .popup-centralize {
        padding: 40px;
    }
    .make-donation h5 {
        font-size: 34px;
        margin-bottom: 10px;
    }
    .make-donation span {
        font-size: 14px;
        margin-bottom: 6px;
    }
    .frequency li {
        width: 50% !important;
    }
    .frequency li a {
        font-size: 13px;
        padding: 10px 20px;
    }
    .payment-type .nav li a,
    .payment-type .nav li.active a,
    .payment-type .nav li a:hover {
        margin: 0 0 7px;
        padding: 12px 30px;
    }
    .select-payment,
    .personal-detail {
        padding: 0 20px;
    }
    .form > div {
        float: left;
        width: 100%;
    }
    .services-list > ul li {
        width: 50% !important;
    }
    .ask-question {
        padding: 90px 15px;
    }
    .white-bg {
        padding: 40px 0 0;
    }
    .service-img {
        float: left;
        width: 100%;
    }
    .service-detail {
        float: left;
        padding-top: 60px;
        width: 100%;
    }
    .service-img > span {
        bottom: -46.5px;
        right: 50%;
        top: auto;
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }
    .service-img > img {
        width: 100%;
    }
    .service-features-wrapper {
        margin-bottom: 30px;
    }
    .skills h5,
    .skills p {
        float: none;
    }
    .skills h5 {
        margin-top: 20px;
    }
    .mod-gallery-info > a {
        margin: 0 5px;
    }
    .featuredtext-capinner > i {
        font-size: 30px;
    }
    .featuredtext-capinner > strong {
        font-size: 50px;
    }
    .featuredtext-capinner > span {
        font-size: 20px;
    }
    .featured-video-cap > strong {
        font-size: 45px;
    }
    .featured-video-cap {
        padding: 0 10%;
    }
    .featured-video-cap > a {
        font-size: 70px;
    }
	.cart-bottom a.theme-btn {
    float: left;
    margin: 10px 0 0;
    text-align: center;
    width: 100%;
}
	.cart-bottom .coupon {
		float: left;
		margin: 0 0 10px;
	}
	.cart-bottom > input.theme-btn {
		width: 100%;
	}
	.select2-container {
		margin-bottom: 10px;
	}
	.cart-item > ul li.col1 {
		padding: 15px;
	}
	.cart-item .col-md-3 .theme-btn{
		margin-top:10px;
	}
	.shipping.cart-list {
		padding: 20px 0;
	}
	.cart-item .field {
		margin-bottom: 10px;
	}
    .col-md-4 .fancy-cause {min-height: initial;}
    .post-intro iframe {height: 400px;}
	
}
@media (max-width:480px) {
	.block, .block.parallax-sec{
		padding: 50px 0;	
	}
    .theme-layout.boxed{
        width: 90%;
    }
    #responsive-header .topbar ul.inline-list li {
        float: left;
        margin: 0;
        padding: 0;
        text-align: left;
        width: 50%;
    }
    #responsive-header .topbar ul.inline-list li::before {
        display: none;
    }
    #responsive-header .topbar {
        padding: 10px 20px;
    }
    .urgent-progress .row > div {
        width: 100%;
        margin: 20px 0;
    }
    #responsive-header .topbar ul.inline-list li {
        line-height: 30px;
        width: 100%;
    }
    .inline-list.registration-btn > li a {
        font-size: 11px;
    }
    .gallery-widget .row > div {
        width: 33.334%;
    }
    .services-list > ul li {
        width: 100%;
    }
    .cause-title h5 {
        font-size: 16px;
        line-height: 25px;
        margin: 0;
    }
    .cause-donation {
        width: 100%;
    }
    .collected-amount {
        font-size: 20px;
        line-height: 20px;
    }
    .cause-donation > i {
        font-size: 11px;
    }
    .urgent-detail > a {
        margin-top: 20px;
        width: 100%;
    }
    .banner-inner > strong {
        font-size: 40px;
    }
    .services-list > ul li {
        width: 100% !important;
    }
    .service-detail {
        padding-left: 30px;
        padding-right: 30px;
    }
    .skills h5,
    .skills p {
        float: left;
    }
    .skills h5 {
        margin-top: 0;
    }
    .skills > span {
        display: inline-block;
        float: none;
    }
    .skills {
        text-align: center;
    }
    .mod-gallery-info {
        bottom: 10px;
        left: 0;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        transform: translateX(0px);
    }
    .mod-gallery-info > a {
        margin: 0 10px;
    }
    .mod-gallery-detail,
    .gallery-detail-top {
        padding: 25px;
    }
    .featuredtext-capcarousel {
        background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
        float: left;
        padding: 30px 0;
        position: relative;
        -webkit-transform: translate(0px);
        -moz-transform: translate(0px);
        -ms-transform: translate(0px);
        -o-transform: translate(0px);
        transform: translate(0px);
    }
    .featuredtext-capinner > i {
        font-size: 15px;
    }
    .featuredtext-capinner > strong {
        font-size: 20px;
        line-height: 35px;
    }
    .featuredtext-capinner > span {
        font-size: 13px;
        margin-top: 20px;
    }
    .featured-video-cap > strong {
        font-size: 25px;
    }
    .featured-video-cap > span {
        font-size: 13px;
    }
    .featured-video-cap > a {
        font-size: 35px;
    }
    .featured-video-sec > iframe {
        height: 290px;
    }
    .donation-fields {
        padding-left: 0;
        padding-right: 0;
        margin-top: 0;
        padding-bottom: 0;
    }
    .make-donation > h5 {
        font-size: 22px;
    }
    .slide-button:before {
        border-right-width: 7px;
        border-top-width: 7px;
        bottom: 2px;
        right: 2px;
    }
    .story-detail h3 {
        line-height: 22px;
    }
    .blog-detail-page ul.meta li {
        width: 100%;
    }
    .event-org li {
        margin: 2px 0 !important;
        width: 100% !important;
    }
    .bottom-links > ul {
        text-align: left;
        width: 100%;
    }
	.bottom-links > ul li{padding:0 13px;}
    .wp-donation-system {
        padding: 50px 20px;
    }
    .wp-donation-system h6 {
        font-size: 13px;
        line-height: 18px;
        padding: 20px 30px;
    }
    .donation-title {
        padding: 30px;
    }
    .donation-title h1 {
        font-size: 18px;
    }
    .donation-fields {
        padding: 15px;
    }
    .wpdonation-box .nav li {
        margin-bottom: 5px;
        width: 95.7%;
    }
    .donation-amount {
        padding: 0 15px;
    }
    .donation-amount .textfield textarea {
        line-height: 15px;
        padding-top: 41px;
        font-size: 16px;
    }
    .thanks {
        padding: 120px 25px 50px;
    }
    .success-notification p {
        padding: 0 20px;
    }
    .payment-method {
        padding: 40px 10px;
    }
    .payment-date {
        padding: 30px 20px;
    }
    .payment-date > strong {
        font-size: 25px;
    }
    .thanks-message {
        padding: 40px 20px;
    }
    .thanks-message > img {
        margin-left: -20px;
    }
    .thanks-message > h5 {
        font-size: 25px;
    }
    .thanks-message > span {
        font-size: 20px;
    }
    #bank_transcation {
        margin-left: -45%;
        width: 90%;
    }
    .payment-method > div > h5 {
        font-size: 16px;
        margin-top: 40px;
    }
    .btn-back {
        position: static;
    }
    #team-detail-img > ul li {margin-right:0;}
    .post-intro iframe {height: 300px;}
	.title h2 {
    	font-size: 19px;
	}
	.title > span{font-size: 11px;}
	.title{margin-bottom: 20px;}
	.story-detail{padding:20px 25px;}
	.title.style2 h2{font-size: 20px;}
	.volunteer-inner > span {
		font-size: 15px;
		margin-bottom: 0px;
	}
	.volunteer-inner > strong{font-size: 25px;}
	.volunteer-inner > a{padding: 10px 15px;}
	
	.footer-widgets > .row > div {
		display: inline-block;
		margin-bottom: 30px;
	}
	#menu-widget-menu {
		margin-bottom: 0;
	}
	.social a {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    margin-right: 5px;
    width: 34px;
}
	.social a i {
    line-height: 34px;
    font-size: 12px;
}
.urgent-progress .row > div{margin: 10px 0;}
.select-cause .amount, .urgent-cause .amount{font-size: 26px;}
.added_to_cart, .post-password-form input[type="submit"], .slide-button, .theme-btn, a.theme-btn{padding: 10px 20px; font-size: 11px;}
#responsive-menu .logo {
    transform: scale(0.7);
}
.join h3{font-size: 30px;}
.collected-donation{margin-bottom: 10px;}
.title.style4 h2{
	line-height: 25px;
	font-size: 17px;
}
.simple-parallax-text h6{font-size: 25px;}
.collected-donation > strong{font-size: 30px;}
.video-title > h3{font-size: 14px; padding: 10px;}
.option-set li a{padding:10px 20px; font-size: 12px;}
.options{margin-bottom: 20px;}
.page-top h2{font-size: 22px; margin-bottom:3px;}
.page-title > ul li{padding:0 10px;}
.page-top{padding:40px 0;}
.gallery-detail-title{
	font-size: 17px;
	margin:10px 0;	
}
.share-this > span {
    margin-bottom: 10px;
    margin-right: 0;
    width: 100%;
}
.gallery-filters > .row > .masonary > div {width: 100%;}
.gallery-page.masonary > div{width: 100%;}
#pagination{margin-top:0;}
.sidebar{margin-top: 50px;}
.countries-contact > .row > div {
    float: left;
    width: 100%;
}
.contact-box {
    padding: 40px 0;
}
.countries-contact{
	padding: 15px 40px 0;	
}
.contact-form button{
	padding:6px 8px;
	font-size:11px;
	text-transform:capitalize;	
}
.products-list > .row > div {
    width: 100%;
}
.product-detail .row > div {
    width: 100%;
}
.product-detail{padding:0;}

.single_add_to_cart_button.theme-btn.alt.theme-mini-btn {
    margin-left: 10px;
    margin-top: 3px;
    padding: 8px 11px;
}
.woocommerce-tabs.wc-tabs-wrapper {
    padding: 10px;
}
.woocommerce-tabs ul.tabs.wc-tabs > li {
    font-size: 10px;
    padding: 0 5px !important;
}
#tab-description > h2 {
    font-size: 19px;
}
.product-desc {
    padding: 0 15px;
}
h2.product-name {
    font-size: 16px;
    margin-bottom: 0;
}
.woocommerce div.product .woocommerce-product-rating {
    margin-bottom: 0;
}
.product-desc p {
    display: inline-block;
    margin-top: 10px;
}
#tab-additional_information > h2 {
    font-size: 19px;
}
#comments > h2 {
    font-size: 19px;
}
.comment-text {
    margin-left: 0 !important;
    padding-top: 70px !important;
    width: 100% !important;
}
ol.commentlist {
    padding-left: 0;
}
.star-rating {
    float: left !important;
    width: 100% !important;
}
#respond > h3 {
    font-size: 18px;
}

.cart-heading {
    display: none;
}
.cart_item {
    padding-left: 0;
}
.cart_item li {
    padding: 5px 10px !important;
    width: 100% !important;
}
a.remove {
    position: absolute;
    right: 0;
    top: 0;
}
.cart-bottom {
    padding: 10px 20px;
}
.cart-bottom .coupon .theme-btn {
    margin-top: 10px;
    width: 100%;
}
.woocommerce-cart .col-md-12.column {
    margin-bottom: 0;
}
.checkbox, .radio {
    height: initial;
}
#ship-to-different-address .checkbox {
    font-size: 16px;
}
.checkout.woocommerce-checkout > h3 {
    font-size: 20px;
}
.testimonials-list.product-testimonials1 > div {
    width: 100%;
}
.ask-question{padding:40px 15px;}
.contact-form > .row > div {
    display: inline-block;
    width: 100%;
}

.become-volunteer.ask-question > .row > div {
    float: left;
    width: 100%;
}
.charity-events > .row > div {
    width: 100%;
    float: left;
}
.page-gallery.lightbox > div {
    float: left;
    width: 100%;
}
.post-intro {
    padding: 0;
}
.post-thumb > img {
    margin-bottom: 20px;
}
.event-org > h4 {
    margin-bottom: 10px;
}
.cause-detail {
    margin-top: 30px;
    padding: 20px 0;
}
.overlay-title{padding:0 30px;}
.page-content h1 {
    font-size: 18px;
}
.join-team > h4{font-size: 15px;}
.cause-donation {
    padding: 0 0 0 76px;
}
.cause-title{
	padding: 20px 20px 0;	
}
.urgent:hover > img {
    transform: translateX(10px) scale(1.07);
}
.cause-donation > i {
    margin-left: 3px;
    margin-right: 0;
    margin-top: 3px;
}
.widget-title h4{font-size: 17px;}
.product_list_widget li .star-rating{margin-top: 10px;}
.toggle-item2 > h3 {
    padding: 20px 25px 20px 20px;
}
.toggle-item2 > h3 > span {
    right: 10px;
}
.toggle-style4 .toggle-item2 > h3 > i,
.toggle-style7 .toggle-item2 > h3 > i {
    color: #fff;
    height: 30px;
    line-height: 30px;
    margin-right: 5px;
    margin-top: 0;
    text-align: center;
    width: 30px;
}
.toggle2 h3,
toggle2 toggle-style4 h3{font-size:11px !important;}
.toggle-style7 .toggle-item2 > h3{padding: 10px;}
.toggle-style7 .content{padding-left: 10px;}
.toggle-style8 .toggle-item2 .content{padding-left: 20px;}
.toggle-style6 .content{padding-left:20px;}
.tabs-styles .nav > li > a{padding:10px; font-size:10px;}
.tabs3, .tabs4{padding:10px;}

.tabs4.tabs-styles .nav.nav-tabs {
    margin-right: 0;
}
.tabs4.tabs-styles ul.nav.nav-tabs li a {
    padding: 5px;
}
.tabs4.bg-img.tabs-styles .tab-content{width: 100%;}
.tabs1 .tab-content{padding:30px 20px;}

.progressbars-style > h2 {
    font-size: 18px;
}
.progressbars-style3 > ul > li {
    max-width: initial;
}
.dropcaps-style > p strong{margin-right: 20px;}
.dropcaps-style.dropcap-style5 p strong{margin-right: 0;}
.center-align{padding:30px 20px}
.center-align .callus-content > h2{font-size: 16px;}
.callus-action > a{padding:8px 13px;}
}
@media (min-width:760px) and (max-width:1024px) {
    .gallery-box:before {display: none;}
    .gallery-box a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        color: transparent !important;
        opacity: 1;
        visibility: visible;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        height: 100%;
        width: 100%;
        margin: 0;
    }
}