* {direction: rtl;}

#team-detail-img>ul,
.page-title > ul li {direction: ltr;}
/*===== Align Right =====*/
.inline-list,
.inline-list > li,
.inline-list > li i,
nav > ul > li,
.urgent-cause > div > div,
.urgentcause-detail > span i,
.urgentcause-gallery > div,
.spent-bar > span,
.progress-bar,
.event-bar > div,
.widget .widget-post ul, 
.sidebar .widget .widget-post ul,
.widget-post > a,
footer .widget ul li i,
.footer-bar div.row > div,
.footer-bar-title,
.newsletter-signup form input,
.bottom-bar div.row > div,
.social > a,
.bottom-links > a,
.title.style2 > span,
.event-inner > div,
.parallax-sec > div.row > div,
.blog-detail ul.meta li i,
.help-detail,
.sidebar .widget_archive>ul li a, 
.sidebar .widget_recent_comments>ul li a, 
.sidebar .widget_rss>ul li a, 
.wpb_wrapper .widget_archive>ul li a, 
.wpb_wrapper .widget_product_categories>ul li a, 
.wpb_wrapper .widget_recent_entries>ul li a, 
.wpb_wrapper .widget_rss>ul li a,
.mod-gallery-info>a i,
.option-set li,
.become-volunteer .white-bg button,
.member-social>span,
.social-links>a,
.team-detail > div,
.skills>span,
#team-detail-img p i,
#team-detail-img p,
#pagination>ul>li,
.post-intro ul.meta li,
.post-intro ul.meta li,
.post-intro ul.meta li i,
.event-time,
.event-time i,
.share-this>span,
.share-this>a,
.event-org>h4,
.event-org>ul,
.event-org>ul li,
.event-org>ul li i,
.cause-donation>i,
.collected-amount i,
.post-intro > .row > div,
.post-img>span>i,
.heading, 
.heading h3,
.tagclouds>a, 
.tagges_in>span,
.service-description > .row > div,
.woocommerce form .form-row label.inline,
.woocommerce form.login .form-row input,
.countries-contact > .row > div,
.contact-form button,
.contact-info strong i,
.mod-gallery-info > a i,
ul.meta li i,
.social-links > a:hover,
.collected-donation > strong i,
.share-this,
.become-volunteer > .row > div,
.urgent-progress .goal.raised span i,
.tagcloud > a,
.widget .widget-post ul li,
.widget_product_search>form input[type=submit] {float: right;}

.logo,
.urgent-progress > div.row > div,
p.woocommerce-result-count {float: right !important;}

nav > ul,
.urgent-cause > div > div,
.story-detail,
.project-info,
.urgent-progress .goal.raised,
.events,
.volunteer-inner,
.volunteer,
footer,
.title.style2,
.upcoming-eventbar,
.sidebar .widget li a, 
.wpb_wrapper .widget li a,
.become-volunteer .title, 
.become-volunteer p, 
.white-bg span,
.woocommerce form .form-row label,
.lost_password,
.title.style4 h2,
.sidebar .widget li, 
.wpb_wrapper .widget li {text-align: right;}
/*===== Align Left =====*/
nav,
.menu .theme-btn, 
.menu-parent .theme-btn,
.spent-bar > span.price,
.project-info .goal > i,
.join-us > a,
.social-links,
.woocommerce-message .theme-btn.theme-mini-btn {float: left;}

.inline-list.pull-right,
form.woocommerce-ordering {float: left !important;}

.urgent-progress .goal,
.bottom-bar p,
.sidebar .widget_archive>ul li, 
.sidebar .widget_recent_comments>ul li, 
.sidebar .widget_rss>ul li, 
.wpb_wrapper .widget_archive>ul li, 
.wpb_wrapper .widget_product_categories>ul li, 
.wpb_wrapper .widget_recent_entries>ul li, 
.wpb_wrapper .widget_rss>ul li,
#team-detail-img>ul {text-align: left;}


.inline-list > li {
    padding-left: 30px;
    margin-left: 30px;
    padding-right: 0;
    margin-right: 0;
}
.inline-list > li:before {
    left: 0;
    right: auto;
}
.inline-list.pull-right {margin-left: 0;}
.inline-list > li i {
    margin-left: 10px;
    margin-right: 0;
}
.logo {margin: 20px 0px;}
.menu .theme-btn {
    margin-left: 0;
    margin-right: 20px;
}
nav > ul > li.menu-item-has-children > a:before {
    left: 4px;
    right: auto;
}
nav > ul > li ul li.menu-item-has-children:before {
    right: auto;
    left: 40px;
    content: "\f104";
}
nav > .menu > ul > li ul li.menu-item-has-children:hover:before, 
nav > ul > li ul li.menu-item-has-children:hover:before {
    right: auto;
    left: 30px;
}
nav > ul > li > ul li:hover > ul {
    left: auto;
    right: 100%;
}
.urgentcause-detail > span i {
    margin-right: 0;
    margin-left: 10px;
}
.urgent-progress > div.row > div {margin-top: 20px;}
.urgent-progress > div.row > div:nth-child(2) {margin-top: -20px;}
.circular > div:before {
    right: auto;
    left: 25px;
    width: auto;
}
.circular > div input {
    left: auto;
    right: -10px;
}
.spent-bar > span.price {
    border-right: 1px solid #e9e9e9;
    border-left: 0;
    padding: 15px 20px 15px 0;
}
a.theme-btn:before, 
.theme-btn:before, 
.slide-button:before {
    border-right: 0;
    border-left: 20px solid rgba(0,0,0,0.2);
    right: auto;
    left: 3px;
}
a.theme-btn:hover:before, 
.theme-btn:hover:before, 
.slide-button:hover:before {
    border-right: 0;
    border-left-color: rgba(255,255,255,1);
}
.title.style2 > span {
    padding-left: 20px;
    padding-right: 0;
}

.title.style2 > span::before {
    left: 0;
    right: auto;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.event-date {
    left: auto;
    right: 0;
}

.event-toggle:after {
    left: auto;
    right: 120px;
}
.event-toggle {
    padding-left: 40px;
    padding-right: 150px;
}

.event-toggle:before {
    left: -13px;
    right: auto;
}
footer .widget ul li i {
    margin-left: 10px;
    margin-right: 0;
    line-height: inherit;
}

.widget-post > a {
    margin-left: 10px;
    margin-right: 0;
}
footer .widget ul li {
    padding-left: 0;
    padding-right: 20px;
}
footer .widget ul li:before {
    left: auto;
    right: 0;
}
.footer-bar-title {
    line-height: 44px;
    padding-right: 0;
    padding-left: 20px;
}
.newsletter-signup form input {
    margin-left: 2%;
    margin-right: 0;
}
.bottom-links > a {
    border-left: 1px solid #464646;
    border-right: 0;
}
.upcoming-eventbar.overlap {
    padding-left: 0;
    padding-right: 125px;
}
.event-date {
    left: auto;
    right: 0;
}
.join-us > a {margin: 7px 0;}
.counter-box > i {
    left: auto;
    padding-right: 100px;
    padding-left: 0;
    right: 50%;
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
}
.blog-detail ul.meta li i {
    margin-left: 10px;
    margin-right: 0;
    line-height: inherit;
}
.help-detail {padding: 45px 55px 45px 85px;}
.donate-btn {
    right: auto;
    left: -27px;
}
.story-detail>span i {
    margin-left: 5px;
    margin-right: 0;
}
.page-title>ul li:before {
    right: auto;
    left: -2px;
}

.widget_categories ul li span {
    right: auto;
    left: 20px;
}
.sidebar .widget_archive>ul li, 
.sidebar .widget_recent_comments>ul li, 
.sidebar .widget_rss>ul li, 
.wpb_wrapper .widget_archive>ul li, 
.wpb_wrapper .widget_product_categories>ul li,
.wpb_wrapper .widget_rss>ul li {
    padding-right: 0;
    padding-left: 25px;
}
.gallery-box>span {
    left: auto;
    right: 20px;
}
.member-social>span {
    padding-left: 0;
    padding-right: 20px;
}
.social-links {
    padding-right: 0;
    padding-left: 20px;
}
.skills>span {
    margin-left: 20px;
    margin-right: 0;
}
.team-detail .member-social span {padding: 20px 30px 20px 0;}
.team-detail .social-links {padding: 18px 0 18px 20px;}
#team-detail-img p {
    padding-left: 20px;
    padding-right: 60px;
}

#team-detail-img p i {
    margin-right: 0;
    margin-left: 20px;
}
#team-detail-img>ul li span {
    right: 0;
    left: auto;
}
#team-detail-img>ul li {
    margin-right: 0;
    margin-left: 20px;
}
#team-detail-img>ul {
    right: auto;
    left: 0;
}
.post-intro ul.meta li {
    margin-right: 0;
    margin-left: 40px;
}
.post-intro ul.meta li i {
    margin-right: 0;
    margin-left: 10px;
}
.event-time {
    margin-right: 0;
    margin-left: 40px;
}
.event-time i {
    margin-right: 0;
    margin-left: 5px;
    margin-top: 5px;
}
.share-this>span {
    margin-right: 0;
    margin-left: 20px;
}
.share-this>a:before {
    right: auto;
    left: 0;
}
.event-org>h4 {
    margin-right: 0;
    margin-left: 30px;
}
.event-org>ul li {margin-left: 50px !important;}
.event-org>ul li i {
    margin-left: 5px;
    margin-right: 0;
    line-height: inherit;
}
.cause-donation {
    left: auto;
    right: 0;
    padding-right: 50px;
    padding-left: 0;
}
.cause-donation>i {
    margin-right: 0;
    margin-left: 20px;
}
.post-img>span {
    right: auto;
    left: -1px;
    padding-right: 0;
    padding-left: 40px;
}
.post-img>span>i {
    margin-left: 30px;
    margin-right: 0;
}
.tagclouds>a:after, 
.tagclouds>a:before, 
.tagges_in>span:after, 
.tagges_in>span:before {
    right: auto;
    left: 5px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.tagclouds>a:after, 
.tagges_in>span:after {
    right: auto;
    left: 5px;
}
.tagclouds>a span:before, 
.tagges_in>span a:before {
    left: auto;
    right: 0;
}
.tagclouds>a span:after, 
.tagges_in>span a:after {
    left: -25px;
    right: auto;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.tagclouds>a:after, 
.tagges_in>span:after {
    right: 5px;
    left: auto;
}
.service-img>span {
    right: auto;
    left: 0;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.woocommerce-error, 
.woocommerce-info, 
.woocommerce-message {
    padding-left: 2em !important;
    padding-right: 3.5em !important;
}
.woocommerce-message:before {
    left: auto !important;
    right: 1.5em !important;
}
.woocommerce input.button {
    margin-right: 0;
    margin-left: 20px;
}
.woocommerce form.login .form-row label input {
    margin-left: 10px;
    margin-top: 10px;
}
.contact-info strong i {
    margin-left: 10px;
    margin-right: 0;
    line-height: inherit;
}
.menu .theme-btn, 
.menu-parent .theme-btn {
    margin-left: 0;
    margin-right: 20px;
}
.event-bar h3 {
    padding-left: 60px;
    padding-right: 0;
}
.sidebar .widget li i, 
.wpb_wrapper .widget li i,
ul.meta li i {
    margin-left: 10px;
    margin-right: 0;
    line-height: inherit;
}
.collected-donation > strong {
    display: inline-block;
    width: unset;
}
.post-detail ul.meta li i {float: none;}
.tagcloud > a {
    margin-left: 10px;
    margin-right: 0;
}
.owl-carousel div {direction: ltr;}