@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i);

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

/*===== Volunter Popup Style =====*/
.volunter-popup {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
}

.volunter-wrapper {
    display: inline-block;
    max-width: 670px;
    position: relative;
    text-align: left;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}

.volunter-popupcontent {
    background: rgba(0, 0, 0, 0) url(../images/popup-bg.png) no-repeat scroll center center / cover;
    float: left;
    padding: 70px 80px;
    position: relative;
    width: 100%;
    z-index: 1;
}
#volunteer-popup .close {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-family: roboto;
    font-weight: 900;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 0;
    text-align: center;
    width: 40px;
    z-index: 9;
}
.volunter-popupcontent::before {
    background: #ffffff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.9;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.sec-title {
    float: left;
    width: 100%;
}

.sec-title > h2 {
    color: #454545;
    float: left;
    font-family: roboto;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 0.3px;
    margin: 0;
    width: 100%;
}

.sec-title > span {
    color: #7f7e7e;
    float: left;
    font-family: roboto;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.3px;
    margin-top: 5px;
    width: 100%;
}

.popup-data {
    float: left;
    margin-top: 35px;
    width: 100%;
}

.volunter-details {
    float: left;
    list-style: outside none none;
    margin: 0 0 50px;
    padding-left: 0;
    width: 100%;
}

.volunter-details > li {
    color: #888888;
    float: left;
    font-family: arimo;
    font-size: 14px;
    margin-bottom: 20px;
    width: 100%;
}

.volunter-details > li strong {
    color: #5c5c5c;
    float: left;
    width: 180px;
}

.volunter-details > li a {
    color: inherit;
    text-decoration: none;
}

.volunter-details > li:last-child {
    margin-bottom: 0;
}

.volunter-details > li a.link {
    color: #0073aa;
    text-decoration: underline;
}

.popup-data > p {
    color: #888888;
    float: left;
    font-family: arimo;
    font-size: 13px;
    line-height: 26px;
    margin: 0;
    width: 100%;
}

.volunters-list {
    border-collapse: collapse;
    float: left;
    text-align: left;
    width: 100%;
}

.volunters-list thead {
    background: #242424 none repeat scroll 0 0;
}

.volunters-list thead tr th {
    border-left: 1px solid #535353;
    color: #ffffff;
    font-size: 14px;
    padding: 20px 20px 20px 50px;
    text-transform: uppercase;
}

.volunters-list tbody tr td {
    background: #fafafa none repeat scroll 0 0;
    border-left: 1px solid #ececec;
    color: #6f6f6f;
    font-family: arimo;
    font-size: 14px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-top: 10px;
}

.volunters-list tbody tr td ul {
    margin: 10px 0 0;
    opacity: 1;
    transform: scale(1);
    transition: all 0.25s linear 0s;
}

.volunters-list tbody tr td ul > li {
    border-right: 1px solid #000000;
    float: left;
    font-size: 11px;
    line-height: initial;
    margin-bottom: 0;
    margin-right: 10px;
    padding-right: 10px;
}

.volunters-list tbody tr td ul > li:last-child {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}

.volunters-list tbody tr td ul > li a {
    color: inherit;
    text-decoration: none;
}

.volunters-list tbody tr td:hover ul {
    opacity: 1;
    transform: scale(1);
}

.volunters-list tbody tr td ul > li.delete > a {
    color: #ff0000;
}

.volunters-list tbody tr td ul > li.approved > a {
    color: green;
}

.loader {
    display: none;
}

.loader:before {
    background: #f7f7f7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.spin {
    height: 60px;
    left: 50%;
    position: fixed;
    top: 50%;
    width: 60px;
    z-index: 9999;
    animation: rotate 1.4s infinite ease-in-out, background 1.4s infinite ease-in-out alternate;
}

@keyframes rotate {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    }
}

@keyframes background {
    0% {
        background-color: #27ae60;
    }
    50% {
        background-color: #9b59b6;
    }
    100% {
        background-color: #c0392b;
    }
}