.page-wraper,
.popup-wrapper{
    display: none;
}
.wp-noticebox {
    background: #e9f7fa none repeat scroll 0 0;
    border: 3px solid #98c1c7;
    display: block;
    padding: 25px 30px 20px;
}
.wp-noticebox > span {
    display: none;
}
.wp-noticebox ul span {
    color: #2d3236;
    font-size: 14px;
}
.wp-noticebox ul span i {
    font-size: 15px;
    font-weight: 700;
}
.wp-noticebox > a {
    background: #545454 none repeat scroll 0 0;
    border-radius: 30px;
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    font-style: italic;
    font-weight: 700;
    padding: 13px 37px 10px;
}
.wp-noticebox > a.goto {
    background: #39a2c0 none repeat scroll 0 0;
}
.page-wraper {
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
}
.popup-wrapper {
    display: none;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 99999;
}
.popup-content {
    display: inline-block;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}
.theme-popup {
    background: #fafafa none repeat scroll 0 0;
    max-width: 750px;
    padding: 20px;
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.popup-inner {
    background: rgba(0, 0, 0, 0) url(../images/resource/popup-bg.jpg) no-repeat scroll center center / cover ;
    border: 10px solid #000000;
    float: left;
    padding: 53px 70px;
    position: relative;
    width: 100%;
}
.popup-inner > h3 {
    color: #333333;
    font-family: open sans;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    max-width: 400px;
    text-transform: uppercase;
}
.close-btn {
    background: #df2525 none repeat scroll 0 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
    cursor: pointer;
    font-family: open sans;
    font-size: 13px;
    font-weight: 700;
    height: 40px;
    line-height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 40px;
}
.popup-inner > p {
    color: #666666;
    float: left;
    font-family: open sans;
    font-size: 13px;
    height: 100px;
    line-height: 28px;
    margin: 25px 0 0;
    min-height: 100px;
    overflow-y: scroll;
    width: 100%;
}