@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px;
}
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {float:left;}
.col-md-12 {width:100%;}
.col-md-11 {width:91.66666667%;}
.col-md-10 {width:83.33333333%;}
.col-md-9 {width:75%;}
.col-md-8 {width:66.66666667%;}
.col-md-7 {width:58.33333333%;}
.col-md-6 {width:50%;}
.col-md-5 {width:41.66666667%;}
.col-md-4 {width:33.33333333%};
.col-md-3 {width:25%;}
.col-md-2 {width:16.66666667%;}
.col-md-1 {width:8.33333333%;}
.container {
    width:1170px;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;
    max-width: 100%;
}
.container:before,
.container:after,
.row:after,
.row:before {display:table;content:" ";}
.container:after,
.row:after {clear:both;}
.row {
    margin-right:-15px;
    margin-left:-15px
}

/*===== Style =====*/

body {
    float: left;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    width: 100%;
}
.remove-ext {
    float: left;
    margin-top: -30px;
    width: 100%;
}
.main-div {
    float: left;
    width: 100%;
}
.title-sec {
    float: left;
    margin-bottom: 50px;
    text-align: center;
    width: 100%;
}
.title-sec > h1 {
    color: #333;
    font-family: poppins;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 0.7px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-top: 0;
}
.title-sec > p {
    color: #555;
    float: left;
    font-family: roboto;
    font-size: 13px;
    margin: 0;
    width: 100%;
}
.remove-ext {
    float: left;
    margin-top: -30px;
    width: 100%;
}
.extention {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.extention-top {
    float: left;
    min-height: 140px;
    padding: 20px;
    position: relative;
    width: 100%;
    z-index: 1;
}
.extention-top::before {
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}
.extention-top > span {
    background: orange none repeat scroll 0 0;
    padding: 3px;
}
.extention-top > span, .extention-top > i {
    color: #fff;
    float: left;
    font-family: lato;
    font-size: 12px;
    font-style: italic;
}
.extention-top > i {
    float: right;
}
.icon {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    bottom: -54px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    height: 108px;
    left: 50%;
    line-height: 140px;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 108px;
}
* {
    box-sizing: border-box;
}
.extention-mid {
    border-bottom: 1px solid #f4f4f4;
    float: left;
    margin-top: 60px;
    padding: 20px 20px 40px;
    text-align: center;
    width: 100%;
}
.extention-mid > h2 {
    color: #313131;
    float: left;
    font-family: poppins;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 5px;
    width: 100%;
}
.extention-mid > i {
    color: #868686;
    float: left;
    font-family: roboto;
    font-size: 13px;
    width: 100%;
}
.extention-mid > p {
    color: #505050;
    display: inline-block;
    font-family: roboto;
    font-size: 13px;
    letter-spacing: 0.4px;
    margin: 30px auto 0;
    max-width: 260px;
    width: 100%;
}
.extention-bottom {
    float: left;
    list-style: outside none none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}
.extention-bottom > li {
    float: left;
/*    font-family: roboto;*/
    font-size: 12px;
    letter-spacing: 0.4px;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}
.extention-bottom > li > button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid transparent;
    color: #999;
    cursor: pointer;
    font-size: 15px;
    float: left;
    position: relative;
    padding: 15px 20px;
    width: 100%;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}
.extention-bottom > li > button > img {float: left;}
.extention-bottom > li > button:hover {opacity: .8;}
.extention-bottom > li > button > i {
    float: right;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.extention-bottom > li > button.active {
    background: #34a701 none repeat scroll 0 0;
    color: #fff;
}
.extention-bottom > li > button.not-active {
    background: #3b3b3b none repeat scroll 0 0;
    color: #fff;
}
.extention-bottom > li > button.update {
    background: orange none repeat scroll 0 0;
    color: #fff;
}
.extention-bottom > li > button.not-install {
    background: #cb0303 none repeat scroll 0 0;
    color: #fff;
}



.extention {
    float: left;
    margin-top: 30px;
    position: relative;
    width: 100%;
}
.extention > img {
    float: left;
    width: 100%;
}
.extention::before {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.8;
    position: absolute;
    right: 0;
    top: 0;
}
.extention-detail {
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.extention-detail > h4 {
    background: #fff none repeat scroll 0 0;
    color: #333;
    font-family: roboto;
    font-size: 25px;
    letter-spacing: 0.3px;
    margin: 0;
    padding: 20px;
}
.extention-bottom2 > span {
    float: left;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
.extention-bottom2 > span > label {
    color: #333;
    font-family: roboto;
    font-size: 15px;
    letter-spacing: 0.3px;
}
.extention > div.bg {
    background: blue none repeat scroll 0 0;
    height: auto;
}
.extention > div.bg > img {
    float: left;
    width: 100%;
}
.extention-bottom2 ul.extention-bottom > li > button > i {
    float: right;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    height: 20px;
    width: 20px;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }